$color-neutral-white: #ffffff;
$color-light-grey:#f4f3f0;

$westpac-red: #b6000b;
$lens-background-color:#621a4b;

$table-odd-row-background-color:$color-light-grey;
$table-even-row-background-color:$color-neutral-white;

$progress-color-green:#417505;
$progress-color-red:#d5002b;
$progress-color-amber:#f5a623;

$font-color-purple:#762e89;

$nav-bar-background-color:$color-light-grey;
$nav-bar-status-circle-background-color:#d7d2cb;
$nav-bar-menu-unselected-font-color:#c3c1bd;
$nav-bar-menu-selected-font-color:#3b474f;
