.title-bar{
    .title-row{
        margin: 0;
        height: 66px;
        .menu{
            background-position: center center;
            background-color: #f4f3f0;
            height: 100%;
        }
        .logo{
            height: 100%;
            .logo-wbc-200{
                background-position: 10px center;
                display: block;  
                height: 100%;          
            }
        }
    }
    .ribbon-cointaner{
        margin: 0;
        height: 150px;
        // background-image: url('./swimming_icon.png');
        background-color:#d5002b; 
        background-repeat: no-repeat;
        background-position: 133% 0;
        background-size: 43%;
        .ribbon{
            h1{
                margin-top: 20px;
            }
            color: #fff;
            height: 100%;
            background-size: auto 100%;
            background-position: 70% center;
            .customer-details{
                line-height: 2;
                margin: 17px 0px;
            }
            .customer-name{
                text-transform: capitalize;
            }
        }
    }
}