
.leads-widget-box {
    color: #575f65;
    .lead-contact {
        padding: 10px 20px;
        background-color: #efeff0;
        height: 70px;
        .lead-name {
            color: #621a4b;
            text-transform: capitalize;
        }
        .lead-email{            
            font-size: 16px;
        }
    }
    .lead-details{
        padding: 20px;
        background-color: #f7f7f7;
        height: 120px;
        margin-bottom: 10px;
    }
}