.leads-widget-box {
  height: 192px;
  width: 242px;
  left: 20px;
  top: 20px;
  background-color: #000;
  position: relative; }
  .leads-widget-box .lead-name {
    height: 70px;
    text-align: center;
    background-color: #f4f3f0; }
  .leads-widget-box .lead-details {
    text-align: center;
    background-color: #f4f3f0;
    height: 122px; }

.sizingCheck {
  height: 30px;
  width: 30px;
  float: left;
  position: relative;
  left: 13px;
  top: 9px; }

.text {
  position: relative;
  left: 49px;
  top: 9px;
  height: 61px;
  width: 136px; }

.purple {
  color: purple;
  float: left;
  font-size: 14px;
  font-weight: bold; }
