.accounts-widget{
    .accounts-widget-list{
        padding: 10px;
        .icon-westpac,
        .icon-stg{
            height: 25px;
            background-size: 35px 20px;
            background-position: center;
        }
    }
}